<footer>
  <div class="container">
    <p>
      The Virtue Initiative is a non-profit project. Free to use, forever.
      &nbsp;·&nbsp; <a href="/privacy">Privacy Policy</a> &nbsp;·&nbsp;
      <a href="/terms">Terms of Use</a> &nbsp;·&nbsp;
      <a href="https://github.com/virtue-initiative/virtue-initiative">GitHub</a
      >
    </p>
  </div>
</footer>
