[Unit]
Description=Virtue update check
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/virtue/update-check.sh
