---
import HelpLayout from "../../layouts/HelpLayout.astro";
---

<HelpLayout currentPath="/help" pageTitle="Help">
  <article class="help-content-card help-doc">
    <h1>Help</h1>
    <p>
      Guides and documentation for getting started with The Virtue Initiative,
      installing clients, and setting up accountability.
    </p>
    <div class="section-actions">
      <a href="/help/getting-started" class="btn btn-primary">Get Started</a>
      <a href="/download" class="btn btn-outline">Downloads</a>
    </div>

    <h2>Sections</h2>
    <ul>
      <li><a href="/help/getting-started">Getting Started</a></li>
      <li><a href="/help/installation">Installation</a></li>
      <li><a href="/help/removing-access">Removing Access</a></li>
      <li><a href="/help/tips">Tips</a></li>
      <li><a href="/help/web">Web</a></li>
    </ul>
  </article>
</HelpLayout>
