---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout tagline="Providing free tools and resources for accountability">
  <section id="about">
    <h2>About</h2>

    <p>
      The Virtue Initiative is an organization that aims to provide free tools
      and resources for accountability. We currently offer a free
      screenshot-based accountability app and some resources on how to use it
      well.
    </p>

    <p>
      Our mission is to develop free technology and resources to support ending
      pornography addiction. We know what it's like to feel stuck, and we want
      to provide tools to support you. We don't want the price to be yet another
      excuse not to deal with pornography.
    </p>

    <p>
      Our vision is to see the Christian church and the world freed from
      pornography. There are billions of dollars made by keeping men and women
      stuck in addiction. For many people, it starts from a young age, and it's
      hard to give up, even if they desperately want to. We want to provide
      tools to provide support and make it easier.
    </p>

    <p>
      The Virtue Initiative began in February 2026 when we started looking at
      accountability apps. There were a few options but none of them were free.
      We thought, "What if we can make a free version while keeping most of the
      essential features of other paid services?" Our goal is to fundraise all
      our financial support and keep the app free.
    </p>

    <p>
      Hopefully you're willing to join us on this mission. If you've been or
      know someone who's been struggling to break free from porn,
      <a href="https://app.virtueinitiative.org#signup">sign up</a> now or send this
      to them. You might also want to read
      <a href="/help/tips"> this page on tips to beat the addiction. </a>
    </p>

    <p>
      If you wish to support us monetarily, you can donate (at some point). If
      you have any questions, feel free to contact us at
      <a href="mailto:help@virtueinitiative.org">help@virtueinitiative.org</a>
    </p>
  </section>

  <section id="how-it-works">
    <h2>How it works</h2>
    <ol>
      <li>
        <a href="https://app.virtueinitiative.org#signup">Create an account</a>
      </li>
      <li>
        <a href="/download">Install Virtue (the monitoring app)</a>
        on one or more of your devices.
      </li>
      <li>
        Invite an accountability partner by email. They will need to create an
        account.
      </li>
      <li>
        The client runs in the background, capturing periodic blurry screenshots
        and uploading them securely using end-to-end encryption.
      </li>
      <li>
        Your accountability partner logs in to the web portal to review your
        activity log and screenshots.
      </li>
    </ol>
    <div class="section-actions">
      <a href="/download" class="btn btn-outline btn-help"
        >Download installers</a
      >
      <a href="/help/getting-started" class="btn btn-outline btn-help">
        Learn more
      </a>
    </div>
  </section>

  <section id="platforms">
    <h2>Currently supported platforms &amp; features</h2>
    <p>
      We are working hard to support more platforms and features. Below is the
      current features supported by platform. As you can probably tell, this is
      still an alpha stage project.
    </p>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Feature</th>
            <th>Windows</th>
            <th>macOS</th>
            <th>Linux</th>
            <th>Android</th>
            <th>iOS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Periodic screenshots</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="yes">✔</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
          </tr>
          <tr>
            <td>Runs as a background service</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="yes">✔</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
          </tr>
          <tr>
            <td>Detects shutdowns</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="yes">✔</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
          </tr>
          <tr>
            <td>Detects tampering</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
          </tr>
          <tr>
            <td>Captures web history</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
          </tr>
          <tr>
            <td>Image risk classification</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
          </tr>
          <tr>
            <td>End-to-end encryption</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
            <td class="yes">✔</td>
            <td class="no">✗</td>
            <td class="no">✗</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</SiteLayout>
