<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>State Iframe</title>
  </head>
  <body>
    <script>
      import { startStateServer } from "@virtueinitiative/shared-web/state.ts";

      startStateServer();
    </script>
  </body>
</html>
